/* =========================================
   TABLET VIEW (2 Columns)
========================================= */
@media (min-width: 768px) {

    header {
        grid-template-columns: 5rem auto;
        padding: 1.5rem 2rem;
        gap: 2rem;
    }

    header span {
        font-size: 2rem;
        font-weight: 700;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    .navigation a {
        border-top: none;
        padding: 1rem 2rem;
        font-size: 1.1rem;
    }

    /* --- W02 Directory Pages --- */
    #directory-container.grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        align-items: stretch;
    }

    #directory-container.list {
        max-width: 800px;
        margin: 0 auto;
    }

    /* --- W03 Home Page --- */
    .home-grid {
        grid-template-columns: 1fr 1fr;
    }

    .spotlights-section {
        grid-column: 1 / 3;
    }

    #spotlight-container {
        display: flex;
        justify-content: space-around;
        gap: 1rem;
    }

    .spotlight-item {
        border-bottom: none;
        flex: 1;
    }

        /* --- W04 Join Page --- */
    .join-container {
            /* Form takes up 2/3 of space, Cards take up 1/3 */
        grid-template-columns: 2fr 1fr;
        align-items: start;
    }
     /* made the cards-section align with the form-section */
    .cards-section {
        padding-top: .65rem;
    }
}

/* =========================================
   DESKTOP VIEW (3 Columns)
========================================= */
@media (min-width: 1024px) {

    /* --- W02 Directory Pages --- */
    #directory-container.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /* --- W03 Home Page --- */
    .home-grid {
        grid-template-columns: 1.5fr 1fr;
    }

    /* .spotlights-section {
        grid-column: 3 / 4;
    } */

    /* #spotlight-container {
        flex-direction: column;
    } */

    .spotlight-item {
        border-bottom: 1px dashed #ccc;
    }

    .spotlight-item img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        border-radius: 5px;
        aspect-ratio: 4/3;
    }

    .spotlight-item:last-child {
        border-bottom: none;
    }

                /* --- W04 Join Page --- */
    .join-container {
        /* Form takes up 2/3 of space, Cards take up 1/3 */
        grid-template-columns: 2fr 1fr;
        align-items: start;
    }
    /* made the cards-section align with the form-section */
    .cards-section {
        padding-top: .65rem;
    }

    .member-card {
        padding: 5.35rem 4rem;
    }
    .member-card.silver-card {
        margin-top: 0.6rem;
    }
}

/* =========================================
   DISCOVER PAGE
========================================= */
/* =========================================
   TABLET VIEW (768px Breakpoint)
========================================= */
@media (min-width: 768px) {
    .discover-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
    }
}


/* =========================================
   DESKTOP VIEW (1024px Breakpoint)
========================================= */
@media (min-width: 1024px) {
    .discover-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "card1 card1 card2"
            "card3 card4 card4"
            "card5 card5 card6"
            "card7 card8 card8";
    }
    .discover-card:hover img {
        transform: scale(1.05);
        filter: brightness(1.1);
    }
}
