* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 237, 224);
}

header, main, footer {
    padding: 2rem;
    margin: 0 auto;
}

header > nav > ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    justify-content: center;

}

h1 {
    padding-bottom: 1rem;
}

header {
    text-align: center;
    background-color: rgb(242, 157, 53);
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
}

footer {
    text-align: right;
}




